@model SwirlFeed.ViewModels.HomeIndexVm
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-3" id="userDetails">
        <div class="row">
            <div class="col-sm-6">
                <a href="@Url.Action("UserProfile", "Profile")">
                    <img class="img-rounded" src="@Model.User.Image" width="130" alt="User image" />
                </a>
            </div>
            <div class="col-sm-offset-1 col-sm-5">
                <a href="@Url.Action("UserProfile", "Profile")"><span>@Model.User.Name</span></a>
                <div>Posts : @Model.User.Posts.Count</div>
                <div>Likes : 0</div>
            </div>
        </div>
    </div>

    <div class="col-sm-8">
        <div id="postArea">
            <form method="post" action="@Url.Action("Add", "Posts")">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-10">
                            @Html.TextAreaFor(m => m.Post.Body, new { @class = "form-control", name = "txtPost", placeholder = "Got Something To Say?" })
                        </div>
                        <div class="col-sm-2">
                            <input type="submit" id="btnPost" value="Post" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>

            <hr />

            <div class="posts">
                @foreach (var post in Model.Posts)
                {
                <div class="post">
                    <div class="post_profile_pic">
                        <img src="@post.Posted_By.Image" alt="Post User Image" width="50" />
                    </div>
                    <div class="postd_by" style="color:#ACACAC;">
                        <a href="@post.Posted_By.Id">
                            @post.Posted_By.Name @(post.User_To == null ? "" : "to " + post.User_To.Name)
                        </a>
                        &nbsp; &nbsp;
                        @Html.Partial("_postDate", post)

                    </div>
                    <div class="post_body">
                        @post.Body
                        <br />
                    </div>
                </div>
                <hr />
                }
            </div>
        </div>
    </div>
</div>